@main("Hexxagon") {
<script type='text/javascript' src='@routes.Assets.at("bower_components/webcomponentsjs/webcomponents.js")'></script>
<script src="https://apis.google.com/js/client:plusone.js"></script>
<link rel="import" href='@routes.Assets.at("bower_components/google-signin/google-signin.html")'>
<link rel="import" href='@routes.Assets.at("elements/custom-sign-in.html")'>
<div id="loginForm">
	<div id="scorebar">
		<h5>Enter player names...</h5></br>
	   	<div id="p1" class="namebox">
	    	<img id="img1" class="playerimg" src='@routes.Assets.at("images/batman_small.png")' width="64px"/>
	    	<input id="player1" class="playername" type="text" name="p1" placeholder="Batman"></br>
	   	</div>
	   	<div id="p2" class="namebox">
	    	<img id="img2" class="playerimg" src='@routes.Assets.at("images/opponent_small.png")' width="64px"/>
	    	<input id="player2" class="playername" type="text" name="p2" placeholder="Joker"></br>
	   	</div>
	   	<hr>
    	<h5>...or sign in via Google</h5></br>
	   	<custom-sign-in></custom-sign-in>
	</div>
    <div style="text-align:center;"><button id="submitButton" value="Start Hexxagon" class="btn btn-success">Start Game</button></div>
</div>	
<script>
	$("#submitButton").click(function() {
		var nameP1 = $("#player1").val();
		if(nameP1.length == 0) {
			nameP1 = $("#player1").attr("placeholder");
		}
		var nameP2 = $("#player2").val();
		if(nameP2.length == 0) {
			nameP2 = $("#player2").attr("placeholder");
		}
		var imgP1 = $("#img1").attr("src");
		var imgP2 = $("#img2").attr("src");
		
		location.href = "/new" + "/" + nameP1 + "/" + nameP2;
	});
</script>
}