@(fieldList: List[HexxagonField])(controller: de.htwg.hexxagon.controller.impl.HexxagonController)
@main("Hexxagon") {
	<!-- <button style="position:absolute; left: 100px; top: 100px;" onClick="runEffect()">Button</button> -->
	<div id="board">
		<div id="ajaxcontent">@refresh(fieldList)(controller)</div>
		<div id="shoutbox"></div>
	</div>
}