@(controller: de.htwg.hexxagon.controller.impl.HexxagonController)
<style>
#scorebarover {
		margin: auto;
		margin-top: 20px;
		margin-bottom: 35px;
		/*height: 55px;*/
		width: 550px;
		padding: 5px;
		padding-bottom: 15px;
		/*font-size: 26px;*/
		color: #ffffff;	
		border: 2px solid;
	   	border-radius: 10px;
		border-color: #081926;
		background-color: rgba(2,7,11,0.7);	
	}
	#plusbtn.demo {
	  padding: 10px;
	  background: #fff;
	  cursor: pointer;
	  line-height: 20px;
	  border: 1px solid #e6e6e6;
	  border-radius: 4px;
	}
	#plusbtn.demo .icon {
	  width: 40px;
	  height: 40px;
	  display: inline-block;
	  background: url(@routes.Assets.at("images/btn_icons_sprite.png")) transparent 0 -40px no-repeat;
	}
	#plusbtn.demo:hover {
	  background-color: #cc3732;
	  color: #fff;
	  border: #dd4b39;
	}
	#plusbtn.demo:hover .icon {
	  background: url(@routes.Assets.at("images/btn_icons_sprite.png")) transparent 0 0px no-repeat;
	}
	.label {
		color: #02070b;
		font-weight: normal;
		font-size: 12pt;
	}
	#newgame {
		text-align:center;
		margin-bottom:45px;
	}
	
	#shoutbox {
		display: none;
	}
</style>
<script type="text/javascript">
	(function() {
	   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	   po.src = 'https://apis.google.com/js/client:plusone.js';
	   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	 })();
</script>
<div id="scorebarover">
    <h3>Game Over!</h3>
    <h5>
    @if(controller.getPlayerScore(0) == controller.getPlayerScore(1)) {
	  The game ended in a tie!
	} else {
		@if(controller.getPlayerScore(0) < controller.getPlayerScore(1)){
			@controller.getPlayerName(1) wins!
		} else {
			@controller.getPlayerName(0) wins!
		}
	}
    </h5>
    <hr><br>
    <span id="plusbtn" 
    		class="demo g-interactivepost"
			data-contenturl="http://hexxagon7.herokuapp.com/"
			data-contentdeeplinkid="/pages"
			data-clientid="320068315136-e7u2o7f935srlnqvhnnh04502ur7m4pc.apps.googleusercontent.com"
			data-cookiepolicy="single_host_origin"
			data-prefilltext="Play Hexxagon with your friends!"
			data-calltoactionlabel="CHALLENGE"
			data-calltoactionurl="http://hexxagon7.herokuapp.com/"
			data-calltoactiondeeplinkid="/">
		<span class="icon">&nbsp;</span>
		<span class="label">
		@if(controller.getPlayerScore(0) < controller.getPlayerScore(1)){
			Challenge your friends on Google+
		} else {
			Share your triumph on Google+
		}
		</span>
	</span>
</div>
<div id="newgame">
	<a class="btn btn-lg btn-success" href="/new/@controller.getPlayerName(0)/@controller.getPlayerName(1)" role="button">Play Again!</a>
</div>