@(fieldList: List[HexxagonField])(controller: de.htwg.hexxagon.controller.impl.HexxagonController)
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
<style>
	iframe[src^="https://apis.google.com"] {
    	display: none;
	}
</style>
<script>
	if(@controller.getTurnPlayer() == 0) {
		$("#splayer2").css("text-decoration", "none");
		$("#splayer1").css("text-decoration", "underline");
	} else {
		$("#splayer1").css("text-decoration", "none");
		$("#splayer2").css("text-decoration", "underline");
	}
</script>
<div id="scorebarrefresh">
	<div id="splayer1"></div>
	<img id="gameImgP1" src='@routes.Assets.at("images/batman_small.png")'/>
	<script>checkImg()</script>
	<div id="score">
		@controller.getPlayerScore(0) : @controller.getPlayerScore(1)
	</div>
	<img id="gameImgP2" src='@routes.Assets.at("images/opponent_small.png")'/>
	<div id="splayer2"></div>
</div></br>
<canvas id="HexCanvas" width="560" height="680"></canvas>
<script>
    var hexagonGrid = new HexagonGrid("HexCanvas", 40);
    @for(field <- fieldList){
	    	hexagonGrid.drawHexAtColRow(@field.getX, @field.getY, "@field.getColor");
    }
    var nameP1 = "@controller.getPlayerName(0)";
	var nameP2 = "@controller.getPlayerName(1)";
	nameP1 = nameP1.substr(0,15);
	nameP2 = nameP2.substr(0,15);
	$("#splayer1").text(nameP1);
	$("#splayer2").text(nameP2);		
</script>
<script src="https://apis.google.com/js/client:plusone.js?onload=checkAuth"></script>